.google-logo-container {
	text-align: center;
}

.google-logo {
	height: 92px;
	width: 272px;
	padding-top: 109px;
	display: inline-block;
	padding-bottom: 80px;
}

/*.search-container {
	background: #fff;
	display: flex;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	height: 44px;
	margin: 0 auto;
	width: 582px;
	text-align: center;
}*/

.search-form-container {
	text-align: center;
}

#tb-container {
	position: relative;
	top: 16px;
	font-size: 13px;
}

#tb-container a {
	padding-left: 15px;
	color: #000;
	opacity: 0.75;
	display: inline-block;
}

#search-form {
	position: absolute;
	top: 311px;
}

body {
	font-size: small;
	font-family: arial,sans-serif;
}

div {
	display: block;
}

input[type=search] {
	font-size: 16px;
	position: relative;
	bottom: 30px;
	z-index: 5;
	display: block;
	margin: 0 auto;
	width: 582px;
	height: 44px;
	border-radius: 30px;
	border: 0.5px solid rgb(211, 211, 211);
	padding-left: 20px;
	margin-top: 15px;
	text-align: start;
}

a {
	text-decoration: none;
}